
body{
    background-image: url("http://individual.utoronto.ca/sck/vimages/fourthheartcurve.gif");
    background-position: center;
    background-repeat: space;
    padding: 0;
  margin: 0;
  
  width: 100%;
  display: table;
}

img {
    margin-top: 4em;
    margin-left: 8em;
    border-radius: 83%;
     width: 270px;
    height: 275px;
    }


h2 {
    font-size: 4em;
    text-align:center;
    font-family: 'Lobster';
    color: cornflowerblue;
    
   
}

#headers {
    text-align: center;
    margin: auto;
    width: 9.5em;
    height: 5.5em;
    background-color: lightpink;
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;
    
    
}



 
    